
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>可分页、排序和搜索的jQuery表格插件</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container" style="padding: 30px 0;">
        <h3>Simple table with column search</h3>
        <table id="sampleTable" class="table table-striped sampleTable"></table>

        <style>
            .form-inline .form-control {
                margin: 5px;
            }
        </style>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/geotools.min.js') }}"></script>
{#    <script src="{{ url_for('static', filename='dist/geotools-swedish-zipcodes.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='dist/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/fancyTable.js') }}"></script>
    <script type="text/javascript">
        // Word genarator
        function rWord(r) { var t, n = "bcdfghjklmnpqrstvwxyz", a = "aeiou", e = function (r) { return Math.floor(Math.random() * r) }, o = ""; r = parseInt(r, 10), n = n.split(""), a = a.split(""); for (t = 0; t < r / 2; t++) { var l = n[e(n.length)], p = a[e(a.length)]; o += 0 === t ? l.toUpperCase() : l, o += 2 * t < r - 1 ? p : "" } return o }

        $(document).ready(function () {
            // And a simple one
            rdata = eval('{{ resultdata|safe  }}');

            for (var n = 0; n < {{ resultdatalen }}; n++) {
                var row = $("<tr>");
                for (var nn = 0; nn < 6; nn++) {
                    $("<td>", {

                        html: rdata[n][Number(nn)],
                        style: "padding:2px;"
                    }).appendTo($(row));
                }
                {#$(row).find("td:last").first().html(moment(new Date(Math.floor(new Date().getTime() * Math.random()))).format('l'));#}
                row.appendTo($("#sampleTable"));
            }

            $("#sampleTable").fancyTable({
                pagination: true,
                perPage: 10
            });
        });
    </script>
</body>
</html>